*.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
backend/ml_pipeline/artifacts/disposal_classifier_rf.pkl filter=lfs diff=lfs merge=lfs -text
