# Python/Django
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Node/React
node_modules/
dist/
build/
.npm/
package-lock.json

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Machine Learning Artifacts & Data
backend/ml_pipeline/data/
backend/ml_pipeline/artifacts/disposal_classifier_rf.pkl
backend/ml_pipeline/artifacts/*.pkl
backend/ml_pipeline/artifacts/*.keras
backend/ml_pipeline/artifacts/*.h5
*.sqlite3

!backend/ml_pipeline/artifacts/duration_regressor.pkl
!backend/ml_pipeline/artifacts/disposal_classifier_rf.pkl
!backend/ml_pipeline/artifacts/disposal_classifier_dt.pkl
!backend/ml_pipeline/artifacts/disposal_classifier_knn.pkl
!backend/ml_pipeline/artifacts/disposal_nn_model.keras
!backend/ml_pipeline/artifacts/nn_scaler.pkl
!backend/ml_pipeline/artifacts/encoders.pkl